.nav-list {
    display:flex;
    flex-wrap: wrap;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list li {
    flex-grow: 1;
    flex-shrink: 1;
}

header {
    border: 5px solid red;
    
}

li {
    border: 5px solid blue;
}

body {
    background: gray;
    padding: 0;
}